<body>
    <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/testimonial/test-bg.png)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Sobre nosotros</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Acerca de</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
           <!-- about-area -->
            <section id="about" class="about-area about-p pt-120 pb-120 p-relative" style="background: url(img/features/about-bg-aliments.png) no-repeat;background-position: center center;">
                <div class="container">
                    <div class="row align-items-center">
                         <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                            <div class="s-about-img p-relative  wow fadeInLeft  animated"   data-animation="fadeInLeft" data-delay=".4s">
                                <img src="img/features/about_img.png" alt="img">    
                                <div class="about-text second-about">
                                    <div class="all-text">
                                        <h3>1</h3>
                                    <span>años de<br> experiencia</span>
                                    </div>
                                    
                                </div>
                            </div>
                          
                        </div>
                        
					<div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content s-about-content  wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title second-atitle pb-25">   
                                    <h5>Acerca de</h5>
                                    <h2>Bienvenido a la plataforma Educato</h2>   
                                </div>
                                
                                <p>En Educato, creemos que el agua es un recurso vital que merece ser gestionado con responsabilidad y conocimiento. Nuestra misión es educar a las personas sobre la importancia de la gestión sostenible del agua y proporcionar las herramientas necesarias para hacer un uso eficiente y consciente de este recurso esencial.</p>
                               
                                <div class="about-content3">
                                    <div class="row">
                                    <div class="col-md-12">
                                        <ul class="green">
                                            <li>Promover la importancia del agua y su gestión adecuada para asegurar su disponibilidad para futuras generaciones.</li>
                                            <li>Proveer información detallada y accesible sobre técnicas y estrategias de conservación del agua.</li>  
                                            <li>Fomentar prácticas sostenibles en hogares, empresas y comunidades para reducir el desperdicio y optimizar el uso del agua.</li>          
                                        </ul>
                                    </div>
                                    
                                    </div>
                                    
                                
                                </div>
                              

                            </div>
                        </div>
                     
                    </div>
                </div>
            </section>
            <!-- about-area-end -->
             <!-- vedio-area -->          
            <section id="vedio" class="vedio-area pt-120 pb-90 fix" style=" background-image: url(img/video/vedio-bg.png); background-repeat: no-repeat;" >
                <div class="container">
                    <div class="row">   
                        <div class="col-lg-12">
                            <div class="section-title center-align text-center">
                                <h5>Aprende</h5>
                                <h2>
                                Comience a como cuidar el agua
                                </h2>
                            </div>
                           
                        </div>
                         
                    </div>
                    <div class="row">
                         <div class="col-lg-12 col-md-12">
                             
                           <div class="video-img wow fadeInRight animated" data-animation="fadeInDown animated" data-delay=".2s" style="background-image:url(img/video/vedio-img.png); background-repeat: no-repeat; background-position: center;">								
                                    <a href="https://www.youtube.com/watch?v=EeWdvJrdPpU" class="video-i popup-video"> <img src="img/video/play.svg" alt="img" class="active-icon"></a>
                            </div> 
                             
                         
                        </div>
                        
                        
                    </div>
                </div>
            </section>
            <!-- vedio-area-end -->
            <!-- team-area -->
            <section id="team" class="team-area pb-90 fix" style=" background-image: url(img/bg/services-bg-aliments.png); background-repeat: no-repeat; background-position: center;">             
                <div class="container">   
                      <div class="row align-items-center"> 
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                            <div class="section-title center-align text-center mb-50">
                                <h5>Nuestro Equipo</h5>
                                <h2>
                                Nuestro miembros de equipo
                                </h2>
                            </div>
                           
                        </div>
                          
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="single-team text-center mb-30 ">
                                <div class="team-thumb">
                                  <div class="brd">
                                        <img src="img/team/team_img01.png" alt="img">
                                    </div>
                                </div>
                                <div class="team-info">
                                    <h4><a>Zavaleta S, Jesus V</a></h4>
                                    <span>Founder</span>
                                    <div class="team-social mt-20">
                                        <a href="https://github.com/Yess222"><i class="fab fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/jesus-zavaleta-serva-6025b4289/"><i class="fab fa-linkedin"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single-team text-center mb-30 ">
                                <div class="team-thumb">
                                    <div class="brd">
                                        <img src="img/team/team_img02.png" alt="img">
                                    </div>
                                </div>
                                <div class="team-info">
                                    <h4><a>Vargas C, Julio C</a></h4>
                                    <span>CEO</span>
                                  <div class="team-social mt-20">
                                        <a href="https://github.com/JulioVargas104"><i class="fab fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/juliovargasch/"><i class="fab fa-linkedin"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single-team text-center mb-30 ">
                                <div class="team-thumb">
                                     <div class="brd">
                                        <img src="img/team/team_img03.png" alt="img">
                                    </div>
                                </div>
                                <div class="team-info">
                                    <h4><a>Rock Alane</a></h4>
                                    <span>Developer</span>
                                    <div class="team-social mt-20">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-behance"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>						
                        
                        <div class="col-lg-3 col-md-6">
                            <div class="single-team text-center mb-30 ">
                                <div class="team-thumb">
                                     <div class="brd">
                                        <img src="img/team/team_img04.png" alt="img">
                                    </div>
                                </div>
                                <div class="team-info">
                                    <h4><a>Rock Alane</a></h4>
                                    <span>Designer</span>
                                    <div class="team-social mt-20">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-behance"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
         
    </main>
        <!-- main-area-end -->
</body>
